.card-container,
.add-card-container {
  width: 70vw;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto auto 1fr;
  gap: 1em;
  border-radius: 0.75rem;
  background-color: hsla(234, 25%, 45%, 0.2);
  padding: 1rem;
}

input {
  background-color: hsl(234, 25%, 45%);
  border: none;
  border-radius: 0.6rem;
  padding: 0.75rem;
  color: #fff;
  box-sizing: border-box;
  font-family: "Nunito";
  font-size: 1.25rem;
}

input:focus,
.submit-button:focus {
  outline: 2px solid hsl(234, 25%, 80%);
}

::placeholder {
  opacity: 1;
  color: hsl(234, 25%, 80%, 0.5);
}

.submit-button {
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 0.6rem;
  border: none;
  background-color: hsl(234, 25%, 45%);
  color: #c3d350;
  justify-self: end;
}

.submit-button:hover {
  background-color: hsl(234, 25%, 45%, 0.7);
  cursor: pointer;
}

.submit-button:active {
  background-color: rgba(68, 107, 158, 0.2);
}

.card-name {
  border-radius: 0.6rem;
  padding: 1rem;
  color: hsl(234, 25%, 45%);
  font-weight: 600;
  grid-column: 1 / span 2;
}

@media screen and (max-width: 1080px) {
  h1 {
    font-size: 3rem;
  }

  .card-container,
  .add-card-container {
    width: 80vw;
  }

  .add-card-container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto auto auto 1fr;
  }

  input {
    width: 100%;
    grid-column: 1 / span 5;
  }
}

@media screen and (max-width: 560px) {
  input {
    grid-column: 1 / span 3;
  }

  .card-container {
    justify-items: left;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto auto auto;
  }

  .card-container .submit-button {
    width: 100%;
    grid-column: 1 / span 3;
  }

  .card-name {
    grid-column: 1 / span 1;
  }

  .owes {
    grid-column: 1 / span 3;
  }

  .kebab {
    grid-column: 2 / span 2;
  }

  .add-card-container {
    grid-template-rows: 1fr 0.5fr 1fr 1fr;
    grid-template-columns: auto auto 1fr;
    justify-items: left;
  }

  .add-card-container .submit-button {
    width: 100%;
    grid-column: 1 / span 3;
  }
}
