.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.increment {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em;
  background-color: hsl(234, 25%, 45%, 1);
  border-radius: 0.6rem;
  border: 2px solid hsl(234, 25%, 45%, 0);
  color: #fff;
  outline: none;
  font-variant-numeric: tabular-nums;
}

.increment:hover {
  background-color: hsl(234, 25%, 45%, 0.7);
  cursor: pointer;
}

.increment:focus {
  outline: 2px solid hsl(234, 25%, 80%);
}

.increment:active {
  background-color: rgba(68, 107, 158, 0.2);
}
